<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Secret</key>
	<string>uVHWVehqgw1urO7jPbKUJ92wq5LxnvC82bjcUBVJMo1Bmq0RUu</string>
	<key>consumer_Key</key>
	<string>OKOaeotwpo8qR3hTvgNisXXrK</string>
</dict>
</plist>
